#app
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  text-align: center
  width: 600px
  #logo h1
    font-size: 1.4em
    color: white
    text-shadow: 0 0 2px #fff
    text-transform: uppercase
    line-height: 1.5em
  #logo
    max-width: 80%
    margin: 0 auto
